Final Report/Proposal.log
*.gz
Final Report/Proposal.bbl
*.blg
Final Report/Proposal.log
*.gz
*.bak

NLP_Research_Proposal/*.log
NLP_Research_Proposal/*.aux
NLP_Research_Proposal/*.bbl
NLP_Research_Proposal/*.dvi

