Final Report/Proposal.log
*.gz
Final Report/Proposal.bbl
*.blg
Final Report/Proposal.log
*.gz
*.bak
.DS_Store
Code/.DS_Store
NLP_Research_Proposal/*.log
NLP_Research_Proposal/*.aux
NLP_Research_Proposal/*.bbl
NLP_Research_Proposal/*.dvi
Code/stanford-ner-2014-06-16
Code/index
Code/w
Code/raw_data
Code/vectors
Code/model/
Code/run.sh
Code/raw_data/
Code/vectors/
Code/w/
Code/mr.p
